---
interface Props {
	title: string;
	src: string;
}

const { title, src } = Astro.props;
---
<style>
	img {
		width: 100px;
		height: 100px;
	}
	div {
		background-color: #c8151a;
		color: white	;
		border-radius: 5px;
		text-align: -webkit-center;
		padding: 40px 20px;
		width: 33%;
	}
	h3 {
		padding-top: 10px;
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
</style>
<div class="Card">
	<img src={src} alt="servicio">
	<h3>
		{title}
	</h3>
</div>
